/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container */
.container {
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    background-color: #faf7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    text-align: center;
    padding-bottom: 20px;
}

header h1 {
    color: #4c7db1;
    font-size: 2.5em;
}

header p {
    color: #393434;
    font-size: 1.2em;
}

/* Section */
section {
    margin-top: 20px;
    line-height: 1.6;
}

section h2 {
    color: #2b6cb0;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Destination Cards */
.destination {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.destination img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.destination img:hover {
    transform: scale(1.05);
}

.destination h3 {
    color: #2b6cb0;
    margin: 10px 0;
}

.destination p {
    color: #555;
    font-size: 1em;
}

/* Button */
.button-container {
    text-align: center;
    margin-top: 30px;
}

.alert-button {
    background-color: #2b6cb0;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alert-button:hover {
    background-color: #1e497b;
}
